.splash-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.splash-logo {
  max-width: 200px;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

ion-spinner {
  transform: scale(1.5);
}